{{/* Standing notice shown above every seminar table.
     Carried over from the old seminar-default.html partial. */}}
<div class="notice">
  <ul>
    <li>
      The Weekly Wednesday Wartik Genomics Lecture Series (WWWGLS) is held in
      501 Wartik Lab (large commons area) on Wednesdays at <strong>3 pm</strong>,
      unless noted otherwise.
    </li>
    <li>
      Coffee, tea, and snacks are usually served <strong>after the presentation</strong>.
    </li>
    <li>
      PSU faculty can nominate speakers via
      <a href="https://forms.office.com/Pages/ResponsePage.aspx?id=RY30fNs9iUOpwcEVUm61LgKC720sGVFGuenqU0IXK-RUME5KTTFHRUNPRDNXWDlISEZSWUNVUTRTRSQlQCN0PWcu">this form</a>.
    </li>
    <li>
      PSU affiliates can sign up to receive seminar announcements using
      <a href="mailto:L-WWWGLS@lists.psu.edu">L-WWWGLS@lists.psu.edu</a>.
    </li>
  </ul>
</div>
