<tr>
    <td>
        {{- if not .reschedule -}}
        <span style="white-space:nowrap">{{ dateFormat "January 2" .seminar_date }}</span>
        {{- if and (eq (time .seminar_date).Hour 0) (eq (time .seminar_date).Minute 0) -}}<br><span style="white-space:nowrap">Time TBA</span>
        {{- else -}}
        {{- if or (ne (time .seminar_date).Hour 15) (ne (time .seminar_date).Minute 0) -}}<br>{{- dateFormat "3:04 pm" .seminar_date }}{{- end -}}
        {{- end -}}
        {{- else -}}
        <span style="white-space:nowrap">To be rescheduled</span>
        {{- end -}}
        {{- with .location -}}<br>{{ . }}{{- end -}}
    </td>
    <td>
        <strong>{{ .presenters }}</strong>
        {{- with .affiliations -}}<br>{{ . }}{{- end -}}
        {{- with .host -}}<br>Host: {{ . }}{{- end -}}
        <br>{{- if and (not .reschedule) .zoom_url -}}<a href="{{ .zoom_url }}">Zoom URL</a>{{- else -}}{{- end -}}
    </td>
    <td><em>{{ .title }}</em>{{- with .slides -}}&nbsp;&nbsp;&nbsp;[<a href="{{ . }}" target="_blank">Slides</a>]{{- end -}}</td>
</tr>
