<div class="alert alert-warning">
    &#9679; The Weekly Wednesday Wartik Genomics Lecture Series (WWWGLS) 
    is held in  501 Wartik Lab (large commons area) on Wednesdays at 
    <font color=red><b>3 pm</b></font>, unless noted otherwise.  
    <br/>
    &#9679; Coffee, tea, and snacks are usually served 
    <font color=red><b>after the presentation</b></font>.  
<!--  <br/>
      &#9679; Live video is also available in room HCAR1101 at Hershey.  -->
    <br/>
    &#9679; PSU faculty can nominate speakers via this <a href="https://forms.office.com/Pages/ResponsePage.aspx?id=RY30fNs9iUOpwcEVUm61LgKC720sGVFGuenqU0IXK-RUME5KTTFHRUNPRDNXWDlISEZSWUNVUTRTRSQlQCN0PWcu">form</a>
    <br/>
    &#9679; PSU affiliates can sign up to receive seminar announcements using L-WWWGLS@lists.psu.edu. 
</div>
