<tr>
    <td>
        {{ dateFormat "January 2" .seminar_date }}
        {{- if or (ne (time .seminar_date).Hour 16) (ne (time .seminar_date).Minute 0) }} {{ dateFormat "3:04PM" .seminar_date }}{{- end -}}
        {{- if and (isset . "location") (ne .location "") -}}<br>Location: {{ .location }}{{- end -}}
    </td>
    <td>
        <strong>{{ .presenters }}</strong>
        {{- if and (isset . "affiliations") (ne .affiliations "") -}}<br>{{ .affiliations }}{{- end -}}
        {{- if and (isset . "host") (ne .host "") -}}<br>Hosted by: {{ .host }}{{- end -}}
        {{- if and (isset . "zoom_url") (ne .zoom_url "") -}}<br><a href="{{ .zoom_url }}">Zoom URL</a>{{- end -}}
    </td>
    <td><em>{{ .title }}</em></td>
</tr>
